<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%- site_title %></title>
  <link rel="stylesheet" href="public/bootstrap/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <h1 class="page-header"><%- site_title %></h1>
    <div class="panel panel-default">
      <table class="choices table">
        <thead>
          <tr>
            <th>Name: </th>
            <th class="player player-a">Player A</th>
            <th class="player player-b">Player B</th>
          </tr>
        </thead>
        <tbody>
          <tr scope="row">
            <td>Choice: </td>
            <td class="player player-a-choice">paper</td>
            <td class="player player-b-choice">random</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="panel panel-default">
      <table class="score table">
        <thead>
          <tr>
            <td colspan="2"><strong>Round:</strong> <span class="round-number">0</span></td>
          </tr>
          <tr>
            <td colspan="2"><strong>Result:</strong> <span class="round-result">0</span></td>
          </tr>
          <tr>
            <td><strong>Score</strong></td>
          </tr>
          <tr>
            <td class="player player-a">Player A (Computer)</td>
            <td class="player player-b">Player B (you)</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="player-a player-a-points">0</td>
            <td class="player-b player-b-points">0</td>
          </tr>
        </tbody>
      </table>
    </div>

    <button class="play btn btn-default btn-primary">PLAAAAAAY!!!!</button>

  </div>

  <script src="public/dist/js/app.js" charset="utf-8"></script>
</body>
</html>
