<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <h1> Rock, paper, scissors (lizard, spock!!!! jk :) )</h1>

  <table class="choices">
    <thead>
      <tr>
        <th>Name: </th>
        <td class="player player-a">Player A</td>
        <td class="player player-b">Player B</td>
      </tr>
    </thead>
    <thead>
      <tr>
        <th>Choice: </th>
        <td class="player player-a">Paper</td>
        <td class="player player-b">Random</td>
      </tr>
    </thead>
  </table>

  <table class="score">
    <thead>
      <tr>
        <td><strong>Round:</strong> <span class="round-number">0</span></td>
      </tr>
      <tr>
        <td><strong>Result:</strong> <span class="round-result">0</span></td>
      </tr>
      <tr>
        <td><strong>Score</strong></td>
      </tr>
      <tr>
        <td class="player player-a">Player A (Computer)</td>
        <td class="player player-b">Player B (you)</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="player-a player-a-points">0</td>
        <td class="player-b player-b-points">0</td>
      </tr>
    </tbody>
  </table>

  <button class="play">PLAAAAAAY!!!!</button>

  <script src="public/dist/js/app.js" charset="utf-8"></script>
</body>
</html>
